{% extends "app/study.html" %}

{% block study %}

{% load static %}

<div class="study-notebook-block">


    <div class="first-page-notebook">
        <h2>{{ task_title }}.</h2>
        <h3>{{ task }} Изучить API.</h3>
        <p>
            Мартышка решила узнать что такое API и как этим пользоваться. Дабы не мочить лишний раз шёрстку, свой выбор 
            она остановила на задаче создать на сайте сервис, который помогал бы ей всегда знать какая сейчас на улице погода.
        </p>
        <ul class="ul_list">
            <li>Найти нужный API. Бесплатный.</li>
            <li>Составить прогноз погоды с основными показателями.</li>
            <li>Реализовать возможность выбора города.</li>
            <li>Дополнительно: подключить второй API, дающий возможность автоматически 
                определять местоположение пользователя.</li>
        </ul>
    </div>

    <div id="spring"></div>

    <div class="second-page-notebook">
        <p>
            Мартышка увлеклась задачами, не относящимися к курсу, который она сейчас проходит!
            Программирование – довольно залипательное занятие. Но нужно вернуться к цели создания этого сайта.
            Погодник она сделает позже.
        </p>
        <br />
        <br />
        <br />
        <br />
    </div>

</div>



{% endblock study%}