{% extends "app/study.html" %}

{% block study %}

<div class="study-notebook-block">


    <div class="first-page-notebook">
        <h2>{{ task_title }}.</h2>
        <h3>{{ task }} Разобраться с оформлением текста и CSS стилями.</h3>
        <p>
            Изучить базовые способы разметки текста. Создать абзацы, заголовки, списки, акценты. <br />
            Познакомиться с CSS.
        </p>
        <ul class="ul_list">
            <li>HTML теги для оформления текста.</li>
            <li>Семантика в HTML.</li>
            <li>Что такое CSS.</li>
            <li>Синтаксис написания стилей.</li>
            <li>Подключение CSS к HTML.</li>
        </ul>
    </div>

    <div id="spring"></div>

    <div class="second-page-notebook">
        <div class="lesson-html-div">

            <div class="lesson-html-header">
                HTML + CSS = дружба навеки
            </div>

            <div id="lesson-html-main">
                <p>
                    Поигравшись немного со стилями, Мартышка создала незамысловатый, но вполне приличный облик для своей странички. Теперь все остальные странички привязанные к этому стилю будут выглядеть симпатично и одинаково, а значит можно с чистой совестью продолжать изучать сам язык разметки HTML, попутно прописывая стили для тех или иных элементов.
                    <hr class="hr_line">
                </p>
                <h2 class="lesson-html-title">Оформление текста</h2>
                <p>
                    Первым делом Мартышка познакомилась с тегами от &lt;h1&gt; до &lt;h6&gt;, которые создают заголовки разной величины.<br>Так же она познакомилась с тегом &lt;p&gt; – абзац, и тегом &lt;br&gt;, дающим возможность переносить строку без создания нового абзаца.
                </p>
                <p>
                    Далее Мартышка узнала о видах списков. И первым она применила не нумерованный список с помощью тегов &lt;ul&gt;, который создаёт сам список, и &lt;li&gt;, который формирует пункты этого списка.
                </p>
                <h3 class="lesson-html-subtitle">Выделение текста:</h3>
                <ul>
                    <li>Для выделения <b>важного слова</b> жирным текстом Мартышка использовала тег &lt;b&gt;. С тем же визуальным эффектом она смогла выделить ещё одно <strong>важное слово</strong>, но уже тегом &lt;strong&gt;, который по идее должен передать всю важность происходящего не только другим мартышкам, но и поисковым роботам.</li>
                    <li>Мартышка так же <i>сделала акцент</i> на том, что тег &lt;i&gt; оформляет текст курсивом тоже лишь визуально. А тег &lt;em&gt; <em>акцентирует внимание</em> на выделенном поисковых роботов.</li>
                    <li>Заключительным видом оформления текста для Мартышки стали теги &lt;u&gt; и &lt;s&gt;, которые позволяют что-то <u>подчеркнуть</u> или зачеркнуть <s>нафиг</s> что-то не нужное соответственно.</li>
                </ul>
                <p>
                    Второй вид списка - пронумерованный. Оформляется такой список тегом &lt;ol&gt;, а пункты в нём так же тегом &lt;li&gt;. Применяется он когда важна очерёдность действий. Поэтому в нём Мартышка расписала свой план изучения языков программирования.
                </p>
                <h3 class="lesson-html-subtitle">Мартышкина стратегия:</h3>
                <ol>
                    <li>Ознакомиться с <abbr title="HyperText Markup Language (Язык разметки гипертекста)">HTML</abbr>.</li>
                    <li>Ознакомиться с <abbr title="Cascading Style Sheets (Каскадные таблицы стилей)">CSS</abbr>.</li>
                    <li>Ознакомиться с <abbr title="JavaScript (Мультипарадигменный язык программирования)">JS</abbr>.</li>
                    <li>
                        Ознакомиться с чем-то из
                        <abbr title="PHP: Hypertext Preprocessor (PHP: препроцессор гипертекста)">PHP</abbr> или
                        <abbr title="(В русском языке читается как Питон или Пайтон)">Python</abbr>.
                    </li>
                    <li>Захватить мир.</li>
                </ol>
                <p>
                    Что бы не запутаться в этих непонятных аббревиатурах, Мартышка изучила тег  &lt;abbr&gt;, и теперь при наведении мышки на непонятное слово, она всегда может получить маленькую подсказку. А в стилях, на этом примере, она посмотрела как работает псевдокласс hover.
                </p>
                <p>
                    Третий вид списка формируется тегом  &lt;dl&gt;,  он без маркеров, но с пояснениями к пунктам. Сами пункты задаются тегом &lt;dt&gt;, а пояснения тегом &lt;dd&gt;.<br>Где применять подобный список Мартышка не придумала, поэтому просто оформила в нем свои планы на завтра:
                </p>
                <dl>
                    <dt><u>Проснуться...</u></dt>
                    <dd><i>Если этого не сделать, то завтра не наступит.</i></dd>
                    <dt><u>Съесть банан...</u></dt>
                    <dd><i>Это очень важно. Иначе никак.</i></dd>
                    <dt><u>Поработать...</u></dt>
                    <dd><i>Это даст возможность купить банан, без которого никак.</i></dd>
                    <dt><u>Лечь спать...</u></dt>
                    <dd><i>Без этого Мартышка не сможет проснуться и начать цикл заново.</i></dd>
                </dl>
                <hr class="hr_line">
                <p>
                    Вдохновленная своими первыми успехами, Мартышка захотела создать собственную страницу-визитку и рассказать о себе всему миру.

                    <br>
                    Перейти к <a class="end-p" href="{% url 'study_html_monkey_card' %}">Мартышечьей Визитке</a>.
                </p>
            </div>

            <div id="lesson-html-footer">
                <blockquote>"Использовать HTML в связке с CSS – это как кушать забродивший банан. Не только голод утоляешь, но и веселее всё как-то становится"</blockquote>
                <cite>(из Великих мыслей Мартышки Чубатой).</cite>
            </div>
        </div>
      
    </div>

</div>

{% endblock study%}