{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<div class="notebook-block">

    <div class="abbout-head">
        <div class="abbout-title">
            <h2>{{ title }}.</h2>
            <h3>{{ message }}</h3>
        </div>
        <div id="btn-div">
            <div class="btn-about btn-about-monkey active">
                <span>О мартышке</span>
            </div>
            <div class="btn-about btn-about-human">
                <span>О человеке</span>
            </div>
        </div>
    </div>    

    <div class="txt-about">        
        <img class="card_avatar" src="{% static 'app/content/img/avat_1.jpg' %}" alt="Мартышка Чубатая" align="left" />
        <h2>Мартышка Чубатая</h2>
        <p>
            Мартышка Чубатая родилась в бетонных джунглях Московского региона в далеком 1984 году.
            Как и любой уважающий себя представитель Бандар-логов она прилежно училась, а потом и усердно
            (хотя иногда и не очень) трудилась во благо общества в целом и своего эгоистичного бытия в частности.
            В молодости у неё была работа разъездного характера, она носилась по всем окрестным джунглям, помогая
            другим мартышкам добывать бананы и прочие ништячки. А потом она осела, устроилась на сидячую работу,
            где вычесывала блох и иных паразитирующих существ, стремясь тем самым улучшить жизнь общества её окружающего.
        </p>
        <p>
            Мартышка часто с ностальгией вспоминала свою первую работу, где она была относительно свободна и
            не прикована к одному месту, где от её мнения что-то зависело, а решения о том, как работать она принимала
            самостоятельно (в определённых рамках конечно же).  Но время шло, мартышка не молодела, старые травмы,
            полученные в боях с местными Гамадрилами-гопниками, давали о себе знать. Бегать по всем джунглям она уже не могла,
            да и не хотела.<br>- Что же мне делать? – подумала Мартышка. – Куда мне пристроить свой мохнатый тыл,
            что бы ему было комфортно и при этом не помереть с голоду?<br>Для начала она решила провести ревизию своих талантов.
        </p>
        <h3 id="subtitle">Мои таланты:</h3>
        <ul class="ul_list">
            <li>Умение искать бананы и вычёсывать блох.</li>
            <li>Природная любознательность.</li>
            <li>Харизма и чувство юмора.</li>
        </ul>
        <p>
            Не густо. Но подытожив написанное Мартышка подумала: «А не научиться ли мне кодить?
            Не стара ли я для этого? Может попробовать начать с чего-нибудь попроще?» Посидев вечерок за компьютером и неуклюже
            потыкав пальцами по клавиатуре, мартышка создала свой первый примитивный код, используя язык разметки
            <abbr title="HyperText Markup Language (Язык разметки гипертекста)">HTML</abbr>  и язык стилей
            <abbr title="Cascading Style Sheets (Каскадные таблицы стилей)">CSS.</abbr><br>
            Так родилась в том числе и эта страничка.
        </p>
    </div>

    <div class="txt-about" hidden>
        <img class="card_avatar" src="{% static 'app/content/img/avat_2.jpg' %}" alt="Мартышка Чубатая" align="left" />
        <h2>Автор Сайта (Admin)</h2>
        <p>
            Здравствуйте! Меня зовут Роман, я родился в Москве, где и живу по сей день. За свою жизнь я успел закончить два
            университета, получив инженерное и экономическое образования. Но я никогда не занимался программированием, хотя
            это то, чем я очень хочу заниматься.
        </p>
        <p>
            В моей жизни было множество причин, которые привели меня к этому желанию. Прежде всего, это моя страсть к
            творчеству и созданию чего-то нового. В современном мире программирование является одной из самых интересных
            специальностей, и я чувствую, что это направление может открыть для меня новые горизонты и возможности.
            <br />
            Но не только это побуждает меня изучать программирование. Я считаю, что каждый человек должен иметь возможность 
            реализовать свои идеи и мечты, и программирование предоставляет такую возможность. Создание своего первого сайта – 
            это один из моих первых шагов в этом направлении.
            <br />
            Я активно изучаю различные направления программирования, чтобы понять, какое из них мне ближе всего. Это включает 
            в себя изучение языков программирования, таких как Python, JavaScript и других, а также изучение 
            основ веб-разработки и баз данных.
        </p>
        <p>
            На данный момент я занят созданием своего собственного веб-сайта, который будет служить экспериментальной 
            платформой для моих идей и проектов.
        </p>
        <h3 id="subtitle">Мои навыки:</h3>
        <ul class="ul_list">
            <li>Основы HTML и CSS.</li>
            <li>Основы JavaScript, Python и Java.</li>
            <li>Основы SQL.</li>
            <li>Основы Git и GitHub.</li>            
            <li>Основы Android Studio.</li>
            <li>Основы Adobe Photoshop.</li>
        </ul>
        <p>
            Почему везде основы? Потому что для того что бы овладеть любым навыком на приличном уровне, нужна практика, 
            много практики. А для этого нужно либо очень много свободного времени если речь идёт о хобби, либо нужно быть 
            занятым в этой сфере, если речь о трудовой деятельности. Меня больше привлекает второй вариант, но удастся ли 
            мне войти в эту сферу и начать развиваться профессионально, я пока не знаю. Я бы с удовольствием прошел курсы 
            по программированию, но в данный момент это для меня, увы, непосильная ноша с финансовой точки зрения.
        </p>
    </div>



</div>

<script>
    let btn_div = document.getElementById("btn-div");
    let btns = btn_div.getElementsByClassName("btn-about");

    for (let i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            let current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace("active", "");
            this.className += " active";

            let text = document.getElementsByClassName("txt-about");
            if (text[0].hidden == false) {
                text[0].hidden = true;
                text[1].hidden = false;
            } else {
                text[0].hidden = false;
                text[1].hidden = true;
            }
        });
    }

</script>

{% endblock %}
